[Unit]
Description=RescueTime.com Daemon
After=local-fs.target network.target

[Service]
ExecStart=/usr/bin/rescuetime
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
User=%I

[Install]
WantedBy=multi-user.target
